NODE_ENV=development
BAS_APP_HOST=0.0.0.0
BAS_APP_PORT=3000
BAS_APP_ENABLE_CORS=false
BAS_APP_CORS_ORIGIN=
BAS_REDIS_ENABLE=true
BAS_REDIS_HOST=redis
BAS_REDIS_PORT=6379
BAS_REDIS_PASSWORD=
BAS_REDIS_TTL_SECS=2000
BAS_REDIS_DB=0
BAS_REDIS_KEY_PREFIX=bas
BAS_REDIS_KEY_NAME=accesstoken
BAS_THROTTLE_TTL_SECS=60
BAS_THROTTLE_LIMIT=300
BAS_AUTHENTICATION_ENABLE=false
BAS_AUTH_USERNAME= # required if BAS_AUTHENTICATION_ENABLE set to true; otherwise optional
BAS_AUTH_JWT_SECRET= # required if BAS_AUTHENTICATION_ENABLE set to true; otherwise optional
BAS_BATTLENET_REGION= # required. Available regions: us, eu, kr, cn
BAS_BATTLENET_CLIENT_ID= # required. Obtain it here: https://develop.battle.net/access/clients/create
BAS_BATTLENET_CLIENT_SECRET= # required. Obtain it here: https://develop.battle.net/access/clients/create
