image: Ubuntu
platform: x64
stack: node lts/*
services:
  - docker

environment:
  IMAGE_STABLE_TAG: 1

skip_tags: true

install:
  - npm install

build_script:
  - npm run build

test_script:
  - npx codecov

after_build:
  # Login to GitHub Container Registry
  - echo "${GHCR_PASSWORD}" | docker login "${GHCR_REGISTRY}" --username "${GHCR_USERNAME}" --password-stdin
  # Build images from development branches and PRs
  - if [[ "${APPVEYOR_REPO_BRANCH}" != "master" ]] || [[ ! -z "${APPVEYOR_PULL_REQUEST_NUMBER}" ]]; then docker build -t "${GHCR_REGISTRY}/${APPVEYOR_REPO_NAME}:${APPVEYOR_BUILD_VERSION}" .; fi
  # Build images from master branch
  - if [[ "${APPVEYOR_REPO_BRANCH}" == "master" ]] && [[ -z "${APPVEYOR_PULL_REQUEST_NUMBER}" ]]; then docker build -t "${GHCR_REGISTRY}/${APPVEYOR_REPO_NAME}:${APPVEYOR_BUILD_VERSION}" -t "${GHCR_REGISTRY}/${APPVEYOR_REPO_NAME}:${IMAGE_STABLE_TAG}" -t "${GHCR_REGISTRY}/${APPVEYOR_REPO_NAME}:latest" .; fi
  # Push all images
  - if [[ "${APPVEYOR_REPO_BRANCH}" == "master" ]] && [[ -z "${APPVEYOR_PULL_REQUEST_NUMBER}" ]]; then docker push "${GHCR_REGISTRY}/${APPVEYOR_REPO_NAME}" --all-tags; fi
  # Logout
  - docker logout
  # Login to Docker Hub
  - echo "${DH_PASSWORD}" | docker login --username "${DH_USERNAME}" --password-stdin
  # Build images from development branches and PRs
  - if [[ "${APPVEYOR_REPO_BRANCH}" != "master" ]] || [[ ! -z "${APPVEYOR_PULL_REQUEST_NUMBER}" ]]; then docker build -t "${APPVEYOR_REPO_NAME}:${APPVEYOR_BUILD_VERSION}" .; fi
  # Build images from master branch
  - if [[ "${APPVEYOR_REPO_BRANCH}" == "master" ]] && [[ -z "${APPVEYOR_PULL_REQUEST_NUMBER}" ]]; then docker build -t "${APPVEYOR_REPO_NAME}:${APPVEYOR_BUILD_VERSION}" -t "${APPVEYOR_REPO_NAME}:${IMAGE_STABLE_TAG}" -t "${APPVEYOR_REPO_NAME}:latest" .; fi
  # Push all images
  - if [[ "${APPVEYOR_REPO_BRANCH}" == "master" ]] && [[ -z "${APPVEYOR_PULL_REQUEST_NUMBER}" ]]; then docker push "${APPVEYOR_REPO_NAME}" --all-tags; fi
  # Logout
  - docker logout


deploy:
  release: ${APPVEYOR_BUILD_VERSION}
  description: '${APPVEYOR_BUILD_VERSION}'
  provider: GitHub
  auth_token:
    secure: LZivqelZnFmrHH+iuzgusfnKcf0TpgR9aa4JAhkfD4M4i1+1ABtPnUAL2CtlpzCT
  draft: false
  prerelease: false
  on:
    branch: master
